#postTag1 {
  background-color: #f6e58d;
}
#postTag2 {
  background-color: #f9ca24;
}
#postTag3 {
  background-color: #ffb142;
}
#postTag4 {
  background-color: #ff7f50;
}
#postTag5 {
  background-color: #d25a8c;
}
#postTag6 {
  background-color: #a1e1e8;
}
#postTag7 {
  background-color: #5bc4c8;
}
#postTag8 {
  background-color: #57a1b9;
}
#postTag9 {
  background-color: #f8d3e1;
}
#postTag10 {
  background-color: #ff7f50;
}
#postTag11 {
  background-color: #f177a9;
}
#postTag12 {
  background-color: #e2618e;
}
#postTag13 {
  background-color: #d24d6c;
}
